.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-left: var(--bs-gutter-x,.75rem);
    padding-right: var(--bs-gutter-x,.75rem);
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1320px;
    }
}

.d-flow-root{
    display: flow-root!important;
}

.position-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.none-resizable-textarea {
    resize: none;
}

.direction-ltr{
    direction: ltr;
}

.text_decoration_price {
    text-decoration: line-through;
}

.hidden-end-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cursor-pointer{
    cursor: pointer;
}

.text-hover-white:hover{
    color: white;
}

.max-height-100px{
    max-height: 100px;
}
.max-height-200px{
    max-height: 200px;
}
.max-height-300px{
    max-height: 300px;
}

.height-20px{
    height: 20px;
}
.height-30px{
    height: 30px;
}
.height-40px{
    height: 40px;
}
.height-100px{
    height: 100px;
}
.height-200px{
    height: 200px;
}
.height-300px{
    height: 300px;
}



.breadcrumb-item+.breadcrumb-item::before{
    color: white;
}

.body-container{
    min-height : calc(100vh - 180px);
}


.blue-gray-dark{
    background-color: #3c4b5e;
}
.blue-gray-xdark{
    background-color: #0f1c2c;
}

.blue-gray-200{
    background-color: #B0BEC5;
}
.blue-gray-300{
    background-color: #90A4AE;
}
.blue-gray-400{
    background-color: #78909C;
}
.blue-gray-600{
    background-color: #546E7A;
}




.gray-100{
    background-color: #F5F5F5;
}
.gray-200{
    background-color: #EEEEEE;
}
.gray-300{
    background-color: #E0E0E0;
}
.gray-400{
    background-color: #BDBDBD;
}
.gray-500{
    background-color: #9E9E9E;
}
.gray-600{
    background-color: #757575;
}




.cyan-50{
    background-color: #E0F7FA;
}
.cyan-300{
    background-color: #80DEEA;
}
.cyan-400{
    background-color: #26C6DA;
}
.cyan-500{
    background-color: #00ACC1;
}
.cyan-A400{
    background-color: #00E5FF;
}





.color-family-1{
    background-color:  #2d3436;
}
.color-family-2{
    background-color:  #f7f1e3;
}



.color-family-a-1{
    background-color:  #3596B5;
}
.color-family-a-2{
    background-color:  #296073;
}
.color-family-a-3{
    background-color:  #ADC5CF;
}
.color-family-a-4{
    background-color:  #845EC2 ;
}



.color-family-b-1{
    background-color:  #133C55;
}
.color-family-b-2{
    background-color:  #59a5d8;
}



.color-family-c-1{
    background-color:  #001d3d;
}
.color-family-c-2{
    background-color:  #00509d;
}





.font-size-sm{
    font-size: 8pt;
}
.font-size-md{
    font-size: 10pt;
}
.font-size-lg{
    font-size: 12pt;
}
.font-size-xlg{
    font-size: 14pt;
}
.font-size-xxlg{
    font-size: 20pt;
}


.line-height-30{
    line-height: 30px;
}
.line-height-35{
    line-height: 35px;
}
.line-height-40{
    line-height: 40px;
}




@font-face{
    font-family: IRANSans;
    src: url("/public/fonts/IRANSans/IRANSansWeb_Light.woff") format("woff");
}
*{
    direction: rtl;
    text-align: right;
    font-family: IRANSans;
}


.btn-zoom{
    width: 25px;
    height: 25px;
    top: 70%;
    left: 15%;
    cursor: pointer;
}

/*===============================*/
.breadcrumb-item a{
    background-color: #66635b ;
    color: #FFCC80;
    line-height: 25px;
}




#section-header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}



#form-progress-scroll-bar{
    background: #ffc107 ;
 }

#progress-scroll-bar{
    height: 4px;
    background-color: #2d3436;
}


#main-search-box{
    outline-width: 0;
    border-style: none;
    border-radius: 5px;
    font-size: 10pt;
    padding-top: 7px;
    padding-bottom: 11px;
    padding-right: 11%;
}
#main-search-box::placeholder{
    color: #ffffff;
    padding-right: 10px;
}
#icon-main-search-box{
    width: 20px;
    height: 20px;
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
}
#btn-main-search-box{
    background-position: -406px -50px;
    background-size: 600px 600px;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 0;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;

}



.logo-site {
    width: 225px ;
}

#logo-site{
    width: 180px ;
}



#inside-form-navigation{
    border-width: 3px !important;
    border-color: #001d3d !important;

    max-height: calc(100vh - 103px);
}

.item-nav-social {
    height: 35px;
    line-height: 35px;
}

.item-nav-category:first-child  {
    border: none;
}

#form-items-social{
    border-radius: 5px 5px 0 0;
}




#icon-empty-result{
    line-height: 75px;
    font-size: 60px;
}
#text-empty-result{
    line-height: 75px;
}







#blur-nav-mobile{
    position: fixed;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-nav i{
    width: 25px;
    height: 28px;
    line-height: 25px;
    border-width: 2px !important;
    padding: 2.5px;
}
.btn-nav span{
    border-width: 2px !important;
    line-height: 30px;
}


#form-footer-social{
    height: 40px;
}

#basket-count{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 4px 0 0 0;
}

#message-count{
    width: 20px;
    height: 20px;
    display: inline-block;
}

@media (max-width: 992px) {

    #inside-form-navigation{
        overflow: auto;
    }

    #form-items-nav {
        border-radius: 5px;
    }

    .item-nav-category  {
        border-top: solid 1px white;
        height: 40px;
        line-height: 40px;
    }





    #nav{
        overflow: auto;
        position: fixed;
        height: 100%;
        width: 60%;
        max-width: 300px;
        z-index: 1001;
        transition: right 500ms;
        right: -301px;
    }

    .nav-open{
        right: 0 !important;
    }


    #form-section-header{
        height: 45px;
    }

    #btn-show-nav-mobile{
        height: 30px;
        border-width: 2px;
        padding: 5px 15px;
    }

    .btn-nav{
        width: 90%;
        max-width: 200px;
        display: block;
    }

}

@media (min-width: 992px) {

    #form-items-nav , #form-items-social{
        height: 35px;
        line-height: 35px;
        border-radius: 5px 5px 0 0;
    }

    .item-nav-category  {
        border-right: solid 1px white;
        height: 35px;
        line-height: 35px;
    }





    #nav{
        height: 100%;
        width: 300px;
    }

    #btn-header-client-panel{
        overflow: hidden;
    }
    #btn-header-client-panel:after{
        margin-bottom: 0.5rem;
    }
    #text-header-client-panel{
        max-width: 175px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .btn-nav{
        padding: 0 2.5px;
        height: 30px;
    }


    #form-section-header{
        height: 45px;
        max-width: 1320px;
    }
}